<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro Esportivo</title>
</head>
<body>
    <div>
        <h3>Painel de Controle</h3>
        <fieldset th:object="${caresportivo}">
            <div>
                <label>Modelo:</label>
                <label th:text="*{info[0]}"></label>
                <br>
                <label>Velocidade:</label>
                <label th:text="*{info[1]}"></label>
                <br>
                <label>Marcha</label>
                <label th:text="*{info[2]}"></label>
            </div>
        </fieldset>
        <button><a th:href="@{/esportivo/painel/acelerar}">Acelerar</a></button>
        <button><a th:href="@{/esportivo/painel/frear}">Freiar</a></button>
        <div>
            <button><a th:href="@{/esportivo/painel/redefinir}">Redefinir parâmetros</a></button>
            <button><a th:href="@{/esportivo/painel/voltar}">Voltar para página de seleção</a></button>
        </div>
    </div>
</body>
</html>