<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Accelerators</title>
</head>
<body>
    <h1>Bem vindo ao Accelerators!</h1>
    <h2>Um programa by YoshiXx</h2>
    <br>
    <h3>Escolha o tipo de veículo antes de começar.</h3>
    <ul>
        <li><a th:href="@{/esportivo/painel}" th:text="@{Carro Esportivo}"></a></li>
        <li><a th:href="@{/caminhao/painel}" th:text="@{Caminhão}"></a></li>
    </ul>
</body>
</html>